lib-membership-plans.custom-theme {
    --mp-bg: linear-gradient(135deg, rgba(255,0,102,0.15), rgba(255,0,102,0.12));
    --mp-text: #000000;
    --mp-accent: #ff0066;
    --mp-accent2: #ff44aa;
    --mp-font: "Poppins", sans-serif;
}

lib-membership-plans.global-theme {
    --pc-white: #ffffff;
    --pc-accent: #0c171b;       
    --pc-accent2: #115f69;      
    --plan-color: #174966;     
    --pc-card-bg: rgba(255,255,255,0.1);
    --pc-card-border: rgba(255,255,255,0.2);
    --pc-text: #000000;        
    --mp-bg: #120032;          
    --mp-text: #000000;        
    --mp-font: "Poppins", sans-serif;
}

.btn-select-plan {
    margin-top: 1rem;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    border: none;
    background: linear-gradient(90deg, var(--mp-accent), var(--mp-accent2));
    color: #2cafa4;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}