<section class="designer-panel" aria-label="Element palette">
  <h2>Palette</h2>

  <div
    cdkDropList
    id="email-template-layout-palette"
    class="palette-list"
    [cdkDropListData]="layouts"
    [cdkDropListSortingDisabled]="true">
    <h3>Sections</h3>
    <button class="palette-item" type="button" cdkDrag [cdkDragData]="item" *ngFor="let item of layouts">
      <span>{{ item.label }}</span>
      <small>{{ item.description }}</small>
    </button>
  </div>

  <div
    cdkDropList
    id="email-template-element-palette"
    class="palette-list"
    [cdkDropListData]="elements"
    [cdkDropListSortingDisabled]="true">
    <h3>Content</h3>
    <button class="palette-item" type="button" cdkDrag [cdkDragData]="item" *ngFor="let item of elements">
      {{ item.label }}
    </button>
  </div>

  <div
    cdkDropList
    id="email-template-variable-palette"
    class="palette-list"
    [cdkDropListSortingDisabled]="true">
    <h3>Variables</h3>
    <div *ngFor="let group of registry.groupedVariables()" class="variable-group">
      <strong>{{ group.group }}</strong>
      <button
        type="button"
        class="token"
        *ngFor="let variable of group.variables"
        cdkDrag
        [cdkDragData]="{ kind: 'element', label: variable.label, elementType: 'variable', variablePath: variable.path }"
        (click)="variableInsert.emit(variable.token)">
        {{ variable.token }}
      </button>
    </div>
  </div>
</section>
